<div class="box">
  <form (ngSubmit)="f.form.valid && login(f)" #f="ngForm" class="item">
    <div>
      <input
        type="email"
        name="email"
        placeholder="Email"
        ngModel
        required
        size="20"
      />
    </div>

    <div>
      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        ngModel
        required
        size="8"
      />
    </div>

    <button type="submit" style="cursor: pointer">+</button>
  </form>
</div>
