<div class="ingreso">
  <h2 class="ingreso_titulo">Ingresos</h2>

  <div *ngFor="let income of incomes" class="elemento limpiarEstilos">
    <div class="elemento_descripcion">{{ income.description }}</div>
    <div class="right limpiarEstilos">
      <div class="elemento_valor">+ {{ income.value | currency:'ARG':'$':'1.2-2' }}</div>
      <div class="elemento_eliminar">
        <button (click)="onRemove(income)" class="elemento_eliminar--btn">
          <i class="ion-ios-close-outline"></i>
        </button>
      </div>
    </div>
  </div>
</div>
