<form>
  <div class="row">
    <div class="col-auto">
      <label for="name" class="visually-hidden">Nombre</label>
      <input
        type="text"
        id="name"
        name="name"
        #nameRef
        placeholder="Nombre"
        class="form-control"
      />
    </div>

    <div class="col-auto">
      <label for="lastName" class="visually-hidden">Apellido</label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        #lastNameRef
        placeholder="Apellido"
        class="form-control"
      />
    </div>

    <div class="col-auto">
      <button 
        (click)="addPerson()" 
        class="btn btn-primary"
      >
        Agregar
      </button>
    </div>
  </div>
</form>
